body,h1,h2,p{
    margin:0;
    font-family: "Roboto", sans-serif;

}
.main-div{
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#logo{
    font-size: 56px;
    color: #0b66ff;
    padding: 15px 0px;
}
.signup-form{
    background-color: #fff;
    width: 430px ;
    border-radius: 8px;
}
.form-heading{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

h2{
    padding-bottom: 5px;
}

.input-fields{
    padding: 15px;
}
input{
    padding: 8px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}